<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="20" android:versionName="0.9.20" package="com.RC.Tzolkin" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="Tzolkin" android:icon="@mipmap/icon" android:roundIcon="@mipmap/icon_round"></application>
</manifest>