<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fabulous" version="1.0.1" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms" version="1.0.1" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms.SkiaSharp" version="1.0.1" targetFramework="xamarinios10" />
  <package id="Fizzler" version="1.3.0" targetFramework="xamarinios10" />
  <package id="FSharp.Core" version="5.0.1" targetFramework="xamarinios10" />
  <package id="HarfBuzzSharp" version="2.6.1.7" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="xamarinios10" />
  <package id="SkiaSharp" version="2.80.2" targetFramework="xamarinios10" />
  <package id="SkiaSharp.HarfBuzz" version="2.80.2" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views" version="2.80.2" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views.Forms" version="2.80.2" targetFramework="xamarinios10" />
  <package id="Svg.Custom" version="0.5.0" targetFramework="xamarinios10" />
  <package id="Svg.Model" version="0.5.0" targetFramework="xamarinios10" />
  <package id="Svg.Skia" version="0.5.0" targetFramework="xamarinios10" />
  <package id="System.Buffers" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="xamarinios10" />
  <package id="System.Memory" version="4.5.4" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="xamarinios10" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.6.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="xamarinios10" />
</packages>